/** Post **/

.post-wrap {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 2rem;
    .post-header {
        padding-left: 1.5em;
        border-bottom: 1px solid #4a4b50;
    }
    .post-title {
        font-family: "Lato", sans-serif;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.5em;
        color: #fff;
    }
    .post-meta {
        box-sizing: border-box;
        color: #87878d !important;
        font-size: .8em;
        line-height: 1.6;
        padding-bottom: 1.5rem;
    }
    .post-content {
        box-sizing: border-box;
        padding-top: 1.5rem;
        a {
            color: #eee;
            text-decoration: underline;
        }
        a:hover {
            color: #fe5186;
            text-decoration: underline;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-top: .8em;
            padding-bottom: .3em;
        }
        h2::before {
            content: "#";
            margin-right: 5px;
            color: #87CEFA;
        }
        h3::before {
            content: "|";
            margin-right: 5px;
            color: #87CEFA;
        }
        h4::before {
            content: ">";
            margin-right: 5px;
            color: #87CEFA;
        }
        table {
            max-width: 100%;
            margin: 10px 0;
            border-spacing: 0;
            box-shadow: 3px 3px 3px rgba(141, 141, 141, 0.125);
            th,
            td {
                padding: 5px 15px;
                border: 1px double #ebe9f5;
            }
        }
        blockquote {
            margin-left: 2rem;
            margin-right: 3rem;
            padding-left: 1rem;
            border-left: 5px solid #f2777a;
        }
        code,
        pre {
            padding: 16px;
            font-size: 13px;
            line-height: 1.45;
            text-indent: -1.2em;
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: 'Fira Code', Consolas, Monaco, Menlo, Consolas, monospace;
            word-break: break-all;
            word-wrap: break-word;
        }
        code:not([class]) {
            padding: 1px 6px;
            margin: 0 2px;
            border-radius: 5px;
            background: #3b3d42;
        }
        .highlight {
            position: relative;
            .copy-code-button {
                position: absolute;
                bottom: 16px;
                right: 7px;
                border: 0;
                border-radius: 4px;
                padding: 1px;
                font-size: .7em;
                line-height: 1.8;
                color: #fff;
                background-color: #777;
                min-width: 55px;
                text-align: center;
            }
            .copy-code-button:hover {
                background-color: #ca5b5b;
            }
        }
        ul {
            padding-left: 2em;
        }
        figure {
            text-align: center;
            img:hover {
                cursor: zoom-in;
            }
        }
        .image-caption:not(:empty) {
            min-width: 20%;
            max-width: 100%;
            display: inline-block;
            padding: 10px;
            margin: 0 auto;
            border-bottom: 1px solid #d9d9d9;
            font-size: 14px;
            color: #969696;
            line-height: 1.7;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            filter: brightness(30%)
        }
        img[data-action="zoom"] {
            cursor: zoom-in;
        }
    }
    p {
        font-size: 1em;
        margin: .5em 0 .5em 0;
    }
    .post-copyright {
        margin-top: 5rem;
        .copyright-item {
            margin: 5px 0;
        }
        .lincese {
            font-weight: bold;
        }
        border-top: 1px solid #4a4b50;
        border-bottom: 1px solid #4a4b50;
    }
    .post-tags {
        padding: 1rem 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    .tag:not(:last-child) a::after {
        content: " / ";
    }
    .post-comment {
        padding: 3em 0;
    }
}